bin/
obj/
ChatSupport.API/bin/Debug/net9.0/ChatSupport.API.dll
ChatSupport.API/bin/Debug/net9.0/ChatSupport.API.pdb
ChatSupport.API/obj/Debug/net9.0/ChatSupport.API.AssemblyInfo.cs
ChatSupport.API/obj/Debug/net9.0/ChatSupport.API.AssemblyInfoInputs.cache
ChatSupport.API/obj/Debug/net9.0/ChatSupport.API.dll
ChatSupport.API/obj/Debug/net9.0/ChatSupport.API.pdb
ChatSupport.API/obj/Debug/net9.0/ChatSupport.API.sourcelink.json
ChatSupport.API/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
ChatSupport.API/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
ChatSupport.API/obj/Debug/net9.0/ref/ChatSupport.API.dll
ChatSupport.API/obj/Debug/net9.0/refint/ChatSupport.API.dll
ChatSupport.Tests/obj/Debug/net9.0/refint/ChatSupport.Tests.dll
ChatSupport.Tests/obj/Debug/net9.0/ref/ChatSupport.Tests.dll
ChatSupport.Tests/obj/Debug/net9.0/ChatSupport.Tests.sourcelink.json
ChatSupport.Tests/obj/Debug/net9.0/ChatSupport.Tests.pdb
ChatSupport.Tests/obj/Debug/net9.0/ChatSupport.Tests.dll
ChatSupport.Tests/obj/Debug/net9.0/ChatSupport.Tests.csproj.AssemblyReference.cache
ChatSupport.Tests/obj/Debug/net9.0/ChatSupport.Tests.AssemblyInfoInputs.cache
ChatSupport.Tests/obj/Debug/net9.0/ChatSupport.Tests.AssemblyInfo.cs
ChatSupport.Tests/bin/Debug/net9.0/ChatSupport.Tests.pdb
ChatSupport.Tests/bin/Debug/net9.0/ChatSupport.Tests.dll
ChatSupport.Tests/bin/Debug/net9.0/ChatSupport.API.pdb
ChatSupport.Tests/bin/Debug/net9.0/ChatSupport.API.dll
